﻿<h2>@Dance@</h2>
	<table width="100%" class="Result">
		<tr class="header">
			<td rowspan="2">No.</td>
			<td rowspan="2">Judge</td>
			<td colspan="5">PCS</td>
			<td colspan="3">Subtotal</td>
		</tr>
		<tr class="header">
			<td>A</td>
			<td>B</td>
			<td>C</td>
            <td>D</td>
			<td>Judge</td>
            <td>Red.</td>
			<td>Result</td>
		</tr>
